html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000000;
  }
  
  #gradient {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  